.chat-page {
    background-color: #f8f8f8 !important;
    height: 577px;
    overflow: hidden !important;
    .chat-sidebar {
        margin: 20px 20px 0;
        h2 {
            color: #ffd248;
            margin-bottom: 15px
        }
        .chats {
            .v-sheet.v-card:not(.v-sheet--outlined) {
                box-shadow: none;
                height: 80px;
                .chat-profile {
                    margin-top: 12px;
                    margin-left: 10px;
                }
                .v-avatar {
                    height: 55px;
                    width: 55px
                }
                .chat-details {
                    margin-left: 14px;
                    h4 {
                        font-weight: 500;
                        margin-top: 7px;
                    }
                    p {
                        color: #b1b1b1;
                        margin-top: 4px;
                    }
                    span {
                        .unread-messages {
                            background-color: #ffd248;
                            width: 25px;
                            height: 25px;
                            text-align: center;
                            color: #fff !important;
                            border-radius: 20px;
                            margin: -70px 155px 0;
                        }
                    }
                }
            }
        }
    }
    .chat-content {
        background-color: #fff !important;
        margin-top: 40px;
        height: 85%;
        .chat-header {
            border-bottom: 1px solid #d2d2d2;
            height: 64px;
            h4 {
                margin-top: -7px;
            }
        }
        .chat-page {
            background-color: #fff !important;
            overflow-y: scroll;
            overflow-x: hidden;
            height: 390px;
            .receiver {
                margin-left: 590px;
                .message {
                    color: #fff;
                    background-color: #ffd248;
                    width: 20%;
                    height: auto;
                    padding: 10px;
                    border-radius: 20px 0px 20px 20px;
                    margin-top: 8px;
                }
                .msg1-rec {
                    border-radius: 20px 20px 0px 20px;
                    margin: 0 !important;
                }
            }
            .sender {
                .message {
                    background-color: #eee;
                    width: 20%;
                    height: auto;
                    padding: 10px;
                    border-radius: 0px 20px 20px 20px;
                    margin-top: 8px;
                }
                .msg1-send {
                    border-radius: 20px 20px 20px 0px;
                    margin: 0 !important;
                }
            }
        }
        .message-row {
            .v-input__slot {
                background-color: #eee;
                width: 620px;
                height: 45px;
                margin: -15px 85px 0;
            }
            .mdi-send::before {
                background-color: #ffd248;
                color: #fff;
                height: 44px;
                width: 44px;
                border-radius: 22px;
                text-align: center;
                font-size: 30px;
                margin-top: 11px;
                padding-top: 6px;
                margin-left: 27px;
            }
        }
    }
}