#liveClass {
    video#video {
        width: 100%;
        height: 350px;
        object-fit: cover;
        // border-radius: 26px;
    }

    #video i.v-icon.notranslate.play--button.mdi.mdi-play-circle-outline {
        // margin: -18rem 0 0 -22rem;
        // position: relative;
        top: -45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .course-title {
        font-size: 1.6rem !important;
    }
    .v-card.v-sheet.theme--light.rounded-0{
        // max-width: 340px !important;
    }
    button.white--text.mt-4.px-3.next-chapter.v-btn.v-btn--absolute.v-btn--contained.v-btn--rounded.theme--light.v-size--default {
        height: 24px !important;
        width: 100px !important;
        font-size: 12px;
        margin-left: 48%;
    }
    .v-card.v-sheet.v-sheet--shaped.theme--light.rounded-0 {
        border-radius: 27px !important;
        padding-top: 10px;
    }
    .text-field {
        border-radius: 5px !important;
    }
    .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)>.v-input__control>.v-input__slot {
        box-shadow: 0 9px 18px rgba(123, 123, 123, .16) !important;
        height: 55px;
        font-size: 16px;
    }
    #userMessages, #studentAttendance {
        overflow-y: auto;
    }
    .instructor-action{
        width: 254px !important;
        text-align: left;
    }
}