header#navbar {
    // margin-left: 15% !important;
    padding: 20px;
    height: 63px !important;
    background-color: #f8f8f8;
    box-shadow: 0px 6px 12px rgb(149, 149, 149, 0.16);
}

#navbar .theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    margin-left: 150px;
}

.v-btn--contained {
    box-shadow: 0 5px 10px rgb(157, 157, 157, .16);
}

#nav-icons {
    margin-top: -8px;
}

@media (max-width: 1200px) {
    div#nav-icons {
        padding-left: 0;
        padding-right: 0;
    }
}