.new-class-form {
    .new-class-btns {
        background-color: #eeeeee;
        width: 299px;
        height: 36px;
        border-radius: 20px;
        .new-active-btn {
            background-color: #ffd248 !important;
            color: #fff !important;
        }
    }
    .v-input.course-input.theme--light.v-text-field.v-text-field--is-booted.v-text-field--enclosed.v-text-field--outlined.v-text-field--placeholder {
        width: 360px;
    }
    .group-select {
        width: 360px !important;
    }
    .v-input__slot {
        height: 0px;
    }
    .v-application--is-ltr .v-textarea.v-text-field--enclosed .v-text-field__slot textarea {
        height: 160px !important;
    }
    .v-input.course-description.v-textarea.theme--light.v-text-field.v-text-field--is-booted.v-text-field--enclosed.v-text-field--outlined {
        width: 430px;
    }
    .course-description {
        padding: 10px;
        border: 1px solid #707070;
        resize: none;
        display: block;
    }
    button.white--text.course-image.v-btn.v-btn--contained.v-btn--rounded.theme--light.v-size--default {
        margin-left: 0;
    }
    .class-chapters {
        button.v-btn.v-btn--contained.theme--light.v-size--default {
            width: 150px;
            margin-bottom: 10px;
            height: 45px;
        }
        .active-chapter {
            background-color: #ffd248 !important;
            color: #fff;
        }
        .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)>.v-input__control>.v-input__slot {
            box-shadow: none;
            border: 1px solid #8e8e8e;
            width: 240px;
            height: -2px !important;
        }
        .section-area {
            border: 1px solid #9d9d9d;
            width: 400px;
            height: 175px;
            margin-bottom: 2em;
        }
        input.section-name {
            display: block;
            background-color: #eeeeee;
            width: 100%;
            height: 45px;
            padding-left: 10px;
        }
        textarea.section-description {
            height: 130px;
            width: 100%;
            resize: none;
            padding-left: 10px;
        }
        .mdi-paperclip::before {
            margin: -90px 360px 0;
        }
        button.remove-btn.v-btn.v-btn--contained.v-btn--rounded.theme--light.v-size--default {
            margin-left: 30px;
            height: 40px;
        }
        a.section-link {
            text-decoration: none;
            color: #686868;
            display: block;
            margin: -20px 280px 20px;
        }
        .chapters-div {
            margin-right: 560px;
        }
        .mdi-close::before {
            content: "\F0156";
            margin: -88px 160px 0;
        }
    }
}