#admin-dashboard {
    padding: 35px;
    h2 {
        font-weight: 300;
    }
    .details-card {
        width: 230px;
        height: 70px;
        margin-bottom: 25px;
        h4 {
            font-weight: 300;
        }
        .mdi {
            color: #fff;
            font-size: 40px;
            padding: 6px;
            margin: -4px 13px 0;
            border-radius: 10px;
        }
        .mdi-account-outline {
            background-color: red;
        }
        .mdi-account-supervisor-outline {
            background-color: blue;
        }
        .mdi-wallet-outline {
            background-color: lawngreen;
        }
        .mdi-table-chair {
            background-color: #ffd248;
        }
        .mdi-bookshelf {
            background-color: darkorange;
        }
    }
    .school-card {
        h1 {
            text-align: center;
            font-size: 50px;
            background-color: yellow;
            width: 96px;
            margin-left: 80px;
            padding: 3px;
            height: 90px;
            border-radius: 45px;
        }
        h5 {
            text-align: center;
            font-weight: 900;
        }
        button.v-btn.v-btn--contained.theme--light.v-size--default {
            font-size: 12px;
            height: 25px;
            margin-left: 50px;
            /* background-color: coral; */
        }
        .theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
            background-color: orange;
        }
    }
    .v-input.v-input--hide-details.theme--light.v-text-field.v-text-field--single-line.v-text-field--is-booted {
        margin-left: 440px;
        .v-input__slot {
            width: 340px;
        }
    }
}

.users-table {
    width: 1110px;
    .v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
        background-color: #ffd248;
        color: #fff;
        font-size: 12px;
    }
    th {
        font-weight: 900;
        border-bottom: none;
        font-size: 14px !important;
        color: #000 !important;
    }
    td {
        border-bottom: none;
    }
    .mdi {
        margin-left: 15px;
    }
    button.v-icon.notranslate.v-icon--link.mdi.mdi-account-edit.theme--light {
        font-size: 25px !important;
    }
    button.v-icon.notranslate.v-icon--link.mdi.mdi-eye.theme--light {
        font-size: 20px !important;
    }
}