.announcements_page {
  .page_title {
    //display: block;

    .upper {
      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      font-size: 16.5496px;
      line-height: 13px;
      /* identical to box height, or 80% */

      margin-bottom: 15px;
      color: #343434;

    }

    .lower {
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 24.8244px;
      line-height: 13px;
      /* or 53% */


      color: #343434;

    }

    button {
      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      font-size: 12.354px;
      line-height: 15px;
      /* identical to box height */
      max-width: 177px;
      width: 100%;
      height: 45px;

      /* primary color/ default */

      background: #193074;
      border-radius: 5px;

      color: #FFFFFF;

    }
  }

  .announcement-container {
    padding: 10px 17px;
    max-width: 329px;
    height: 100px;
    position: relative;
    background: rgba(25, 48, 116, 0.05);
    border-radius: 5.81693px;

    .head {
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      color: #2D3E70;
      margin-bottom: 18px;
    }

    .details {
      display: flex;

      .time {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 11.6339px;
        line-height: 15px;
        /* identical to box height, or 132% */
        width: 20%;

        /* primary color/ default */

        color: #193074;
      }

      .targert {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 11.6339px;
        line-height: 15px;
        /* identical to box height, or 132% */
        width: 70%;

        /* primary color/ default */

        color: #193074;
      }

      .views {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 11.6339px;
        line-height: 15px;
        /* identical to box height, or 132% */
        width: 10%;

        /* primary color/ default */

        color: #193074;

      }
    }

    .new {
      top: 16px;
      width: 48px;
      height: 15px;
      background: #193074;
      font-family: Inter;
      text-align: center;
      display: flex;
      justify-content: center;
      font-weight: bold;
      font-size: 11px;
      position: absolute;
      line-height: 9px;
      right: 0;
      display: flex;
      align-items: center;
      color: #EFEFEF;
      transform: rotate(45deg);
    }
  }
}