// $primary : #6daefc;
$primary : #193074;
$secondary:#e9ecef;
$tertiary:#f9faff;
$main:#ffffff;
$font:#343434;

$deepGreen: #02A617;


$info:#2680eb;
$success:#3ce970;
$danger:#fc6767;
$blue-gray:#F6F8FF;
$disabled:#DADADA;

:export {
    primary: $primary;
    deep_green: $deepGreen
}