    * {
        text-transform: none !important;
    }

    .courses-home {
        background-color: #F9FAFF;
        min-height: calc(100vh - 76px);
        .active-btn {
            background-color: #fff !important;
            color: #ffd248 !important;
            transition: none !important;
        }

        .courses-header {
            h3 {
                color: hsl(0, 0%, 65%);
                font-weight: 400;
                margin-bottom: 30px;
            }

            button.published-btn,
            .unpublished-btn.v-btn.v-btn--contained.v-btn--rounded.theme--dark.v-size--default {
                box-shadow: none;
            }

            button.v-btn.v-btn--flat.v-btn--rounded.v-btn--text.theme--dark.v-size--default.unpublished-btn:hover::before {
                background-color: transparent;
            }

            button.v-btn.v-btn--flat.v-btn--rounded.v-btn--text.theme--dark.v-size--default.published-btn:hover::before {
                background-color: transparent;
            }
        }

        .class-btns {
            background-color: #eeeeee;
            width: 360px;
            height: 38px;
            border-radius: 20px;
        }

        .live-class {
            .v-image__image--cover {
                height: 230px;
                width: 270px;
                margin: 25px 40px 0;
            }

            position: fixed;
        }

        .live-class.v-card.v-sheet {
            width: 360px;
            height: 500px;
            margin-top: 30px;
            border-radius: 20px;
            box-shadow: 0 15px 27px rgb(132, 132, 132, 0.15);

            p {
                margin-left: -5.5em;
                margin-top: 5em;
                font-size: 25px;
                color: #929292;
            }

            a {
                text-decoration: none;
            }

            i.v-icon.notranslate.video-icon.mdi.mdi-video.theme--dark {
                background-color: #ffc100;
                color: #fff;
                height: 70px;
                width: 70px;
                border-radius: 70px;
                font-size: 40px;
                margin-left: 150px;
                margin-top: 35px;
            }
        }

        .class-view {
            .v-application--wrap {
                // background-color: #f8f8f8;
            }

            .v-sheet.v-card:not(.v-sheet--outlined) {
                box-shadow: none;
            }

        }

        .v-btn:not(.v-btn--round).v-size--default {
            margin-bottom: 7px;
        }
    }

    // divs that display course short form if pic not provided
    .vertically--centered {
        display: flex;
        justify-content: center;
        align-items: center;
    }