
            
            aside.v-navigation-drawer.v-navigation-drawer--open {
                background-color: #ffd248;
            }
            
            #sidebar-container {
                padding: 0;
            }
            
            aside.v-navigation-drawer.v-navigation-drawer--fixed.v-navigation-drawer--open.theme--dark {
                width: 225px !important;
            }