.dashboard_page {
  background-color: #f3f6ff;
  height: fit-content;
  min-height: calc(100vh - 76px);
  .page_title {
    display: block;

    .upper {
      font-family: Inter;
      font-size: 17px;
      font-style: normal;
      font-weight: 500;
      line-height: 13px;
      letter-spacing: 0em;
      text-align: left;
      color: #343434;
      margin-bottom: 15px;
    }

    .lower {
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 24.8244px;
      line-height: 13px;
      /* identical to box height, or 53% */
      margin-bottom: 45px;
      color: #343434;
    }
  }

  .more_info_container {
    max-width: 369.8px;
  }

  .college_info {
    max-width: 358.8px;
    // width: 100%;
    left: 159px;
    background: #ffffff;
    box-shadow: 0px 5.79235px 13.2397px rgba(180, 180, 180, 0.25);
    border-radius: 4.13739px;
    padding: 17.38px 13.05px 9.1px 19.65px;

    .college_name {
      font-family: Inter;
      font-style: normal;
      font-weight: bold;
      font-size: 20.687px;
      line-height: 28px;
      display: flex;
      align-items: center;

      color: #193074;
      margin-bottom: 50.48px;
    }

    .lower_content {
      display: flex;
    }

    .number_of_users {
      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      font-size: 12.4122px;
      width: 60%;

      display: flex;
      align-items: center;
      text-align: center;

      color: #3c3c3c;
    }

    .account_type {
      display: flex;

      .text {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 11.4122px;
        margin-left: 6px;

        display: flex;
        align-items: center;
        text-align: center;

        color: #3c3c3c;
      }
    }
  }

  .more_info {
    width: 111.01px;
    height: 89.8px;
    background: #ffffff;
    box-shadow: 0px 5.79235px 9.92974px rgba(156, 156, 156, 0.25);
    border-radius: 4.13739px;
    padding: 8px;

    .total_number {
      height: 49.34px;
      width: 100%;
      font-family: Inter;
      font-style: normal;
      font-weight: bold;
      font-size: 33.0991px;
      margin-top: -20px;
      display: flex;
      justify-content: center;

      color: #000000;
    }

    .description {
      width: 99.66px;
      height: 34.54px;
      left: calc(50% - 99.66px / 2 - 469.23px);
      top: 369.06px;

      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      font-size: 9.27479px;
      text-align: center;

      color: #3c3c3c;
    }
  }

  .heading {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 4px;
    color: #343434;
  }

  .recent {
    max-width: 358px;
    width: 100%;
    min-height: 77px;
    background: #ffffff;
    box-shadow: 0px 5.9px 13.2px rgba(0, 0, 0, 0.1);
  }

  .record {
    display: flex;
    padding: 12px;
    justify-content: space-between;

    .name {
      font-family: Inter;
      font-style: normal;
      font-weight: bold;
      font-size: 12.4122px;
      color: #000000;
      flex: 1;
    }

    .category {
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 12.4122px;
      color: #000000;
      flex: 1;
    }

    .time {
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 12.4122px;
      color: #000000;
      flex: 1;
    }
  }

  .more {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 12.4122px;
    line-height: 4px;
    /* identical to box height, or 33% */
    text-align: right;
    max-width: 310.8px;
    color: #193074;
  }

  .lower_buttons {
    width: 153.91px;
    height: 43.86px;
    left: calc(50% - 153.91px / 2 - 448.04px);
    top: calc(50% - 43.86px / 2 + 231.49px);

    background: #193074;
    box-shadow: 0px 5.79235px 11.5847px rgba(147, 147, 147, 0.25);
    border-radius: 2.48244px;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 13.2397px;
    /* identical to box height, or 150% */

    color: #ffffff;
  }

  .my-chart {
    max-width: 20%;
  }

  &.instructor {
    .body {
      height: 100%;

      .empty {
        height: 100%;
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 30px;
        color: #343434;

        .title {
          font-size: 15px;
        }

        div {
          text-align: center;
        }

        vertical-align: center;
      }

      .data {
        font-family: Inter;
        font-style: normal;
        font-size: 14px;

        .d-flex{
          border-radius: 5px;
          padding: 13px 5px 0px;
          cursor: pointer ;
          &:hover {
            background: rgba(25, 48, 116, 0.15);
          }
        }

        .student-name {
          font-weight: bold;
          //line-height: 4px;
          color: #343434;
          margin-bottom: 20px;
        }

        .course-name {
          font-weight: bold;
          //line-height: 5px;
          color: #193074;
        }

        .time {
          font-weight: normal;
          line-height: 4px;
          color: #343434;
          margin-bottom: 20px;
        }
      }
    }

    .college_info {
      .body {
        height: 75%;
      }

      max-width: 208px;
      min-height: 112px;
      background: #ffffff;
      box-shadow: 0px 5.79235px 13.2397px rgba(180, 180, 180, 0.25);
      border-radius: 4.13739px;
      padding: 24px 13.05px 9.1px 19.65px;

      &.long {
        max-width: 485px;
        padding: 16px;
        min-height: 155px;
      }

      font-family: Inter;
      font-style: normal;

      .label {

        font-weight: 500;
        font-size: 11.0783px;

        text-align: center;

        color: #000000;
      }

      .number {
        font-weight: bold;
        font-size: 30px;
        /* or 369% */
        margin-left: 13.5px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #000000;
      }

      .footer {
        font-weight: bold;
        font-size: 12px;
        line-height: 30px;
        color: #193074;
        text-align: right;
      }
    }

    .details {
      margin-top: 45px;
      margin-bottom: 17px;
      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 30px;
      /* or 200% */

      display: flex;
      align-items: center;

      color: #343434;

      &.near {
        margin-top: 23px;
      }
    }

    .lower_buttons {
      margin-top: 30px;

      &.outlined {
        background-color: transparent;
        font-size: 12px;
        color: #193074;
        margin-left: 34px;
      }
    }

    .recent-discussions {
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
      max-width: 479px;
      min-height: 119px;
      background-color: #FFFFFF;
      padding: 12px 5px;

      .d-flex {
        align-items: center;

        &:hover {
          background: rgba(25, 48, 116, 0.15);
        }

        min-height: 25px;
        font-family: Inter;
        font-style: normal;
        font-size: 14px;

        .student-name {
          font-family: Inter;
          font-style: normal;
          font-weight: bold;
          font-size: 13px;
          line-height: 4px;
          /* or 34% */

          display: flex;
          align-items: center;
          /* Type color / Default */

          color: #343434;
        }

        .course-name {
          font-family: Inter;
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 4px;
          /* or 34% */

          display: flex;
          align-items: center;

          /* Type color / Default */

          color: #343434;
          margin-bottom: 12px;

        }

        .time {
          font-family: Inter;
          font-style: normal;
          font-weight: bold;
          font-size: 13px;
          line-height: 4px;
          /* or 34% */

          display: flex;
          align-items: center;

          /* Type color / Default */

          color: #343434;
        }
      }
    }
  }
}

/* Portrait phones and smaller */
@media (max-width: 700px) {
  .dashboard_page {
    .college_info {
      max-width: 100%;
      margin: 45px 18px 0px;
    }
    .more_info_container{
      margin-left: 10px !important;
      margin-right: 18px !important;
    }
    .lower_buttons{
      margin-bottom: 60px;
    }
    .recent-joined{
      max-width: 90%;
      margin: auto;
    }
    .more_info {
      width: 97px;

      .total_number {
        height: fit-content;
        font-size: 25.0991px;
        margin-top: -8px;
      }

      .description {
        width: 85px;
      }

      margin-bottom: 12px;
    }
    &.instructor {
      .college_info {
        margin: 0px;
      }
      .recent-discussions {
        .d-flex .student-name {
          line-height: 10px;
        }

        .d-flex .course-name {
          line-height: 10px;
        }

        .d-flex .course-name, .time {
          text-align: right;
          justify-content: flex-end;
          align-items: flex-end !important;
        }
      }
    }
  }
}