                                    .home-page {
                                        // overflow: hidden;
                                        .v-image__image--cover {
                                            margin-top: 0;
                                        }
                                        .login-side {
                                            .head-one {
                                                margin: 4.5em 5em 0;
                                                font-size: 45px;
                                                font-weight: bold;
                                            }
                                            .head-two {
                                                margin: -13px 5em 1.5em;
                                                font-size: 45px;
                                                font-weight: bold;
                                                width: 253px;
                                            }
                                            .login-btn {
                                                text-decoration: none;
                                                margin-left: 14em;
                                            }
                                            .v-btn--contained {
                                                box-shadow: 0 7px 16px rgba(97, 97, 97, .16);
                                            }
                                            .v-btn:not(.v-btn--round).v-size--default {
                                                height: 36px;
                                                width: 220px;
                                                padding: 0 16px;
                                                border-radius: 18px;
                                            }
                                            .theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
                                                background-color: #afaeac;
                                            }
                                            .v-btn__content {
                                                color: white;
                                                font-size: 20px;
                                                text-transform: none;
                                            }
                                            .theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
                                                background-color: #ffc100;
                                            }
                                        }
                                        .v-image__image--cover {
                                            background-size: 400px 560px;
                                            margin-left: -6em;
                                        }
                                        @media (max-width: 1200px) {
                                            .home-page {
                                                height: 600px;
                                                .login-side {
                                                    margin-top: -14em;
                                                    .head-one {
                                                        margin: 3.5em 0.6em 0;
                                                        font-size: 45px;
                                                        width: 255px;
                                                        font-weight: 900;
                                                    }
                                                    .head-two {
                                                        margin: 0px 0.6em 2em;
                                                        font-size: 45px;
                                                        width: 255px;
                                                        font-weight: 900;
                                                    }
                                                    .v-btn:not(.v-btn--round).v-size--default {
                                                        height: 48px;
                                                        width: 260px;
                                                        margin-left: -167px;
                                                        margin-top: -85px;
                                                        padding: 0 16px;
                                                        border-radius: 25px;
                                                    }
                                                    .home-image-side {
                                                        margin-top: -40em;
                                                    }
                                                    .v-image__image--cover {
                                                        background-size: 200px 180px;
                                                        margin-top: 4em;
                                                        /* height: 216px; */
                                                        margin-left: -2px;
                                                    }
                                                }
                                                .v-image__image--cover {
                                                    background-size: 250px 420px;
                                                    margin-left: 0;
                                                }
                                                .v-image__image--cover {
                                                    margin-top: -35px;
                                                }
                                            }
                                        }
                                    }