#liveClass {

    .course-title {
        font-size: 1.6rem !important;
    }
    button.white--text.mt-4.px-3.next-chapter.v-btn.v-btn--absolute.v-btn--contained.v-btn--rounded.theme--light.v-size--default {
        height: 24px !important;
        width: 100px !important;
        font-size: 12px;
        margin-left: 48%;
    }
    .v-card.v-sheet.v-sheet--shaped.theme--light.rounded-0 {
        border-radius: 27px !important;
        padding-top: 10px;
    }
    .text-field {
        border-radius: 5px !important;
    }
    .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)>.v-input__control>.v-input__slot {
        box-shadow: 0 9px 18px rgba(123, 123, 123, .16) !important;
        height: 55px;
        font-size: 16px;
    }
    #userMessages, #studentAttendance {
        overflow-y: auto;
    }
    .instructor-action{
        width: 254px !important;
    }
}