@mixin scroll-bar{
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track:hover {
    background-color: lighten($secondary, 4);
  }

  &::-webkit-scrollbar-thumb {
    background-color: lighten($font, 40);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: lighten($font, 30);
  }

}

@mixin fit-content{
  width: fit-content;
  height: fit-content;
}

@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin admin-page-header{
      width:100%;

    .header-wrapper,.header--wrapper{
      padding-top:1rem;

      .heading{
        .icon{
          margin-right:1.55rem;
        }
        .text-content{

          h2,h4{
            color:$font;
          }
        }
      }
      .search{
        .search-wrapper{
          width:20rem;
        }
      }

      .add-user{

        .add-user-button{
          max-width: 15rem;
          width:fit-content;
          min-width: fit-content;
        }
      }
    }
}

@mixin input-el {
  position: relative;

  .focused {
    transform: translateY(-40%);
  }

  span {
    position: absolute;
    transition: transform .3s ease-out;
    // transform: translateY(50%);
    color: $grayish;

    @apply px-4;
  }

  input,
  textarea {
    @apply px-4 pt-5;
    outline: none;
  }

  select {
    @apply px-4 py-2;
    outline: none;
  }

}


@mixin table-row{
  border-bottom: .5px solid $bg-one;
  border-top: .5px solid $bg-one;
  &:hover{
    background-color:$bg-one;
  }
  .select{
    display: flex;
    justify-content: center;
    align-content: center;

    &--wrapper{
      width:2.5rem;
    }

    .icon{
      cursor:pointer;
      height: fit-content;
      width:fit-content;
      svg{
        fill:lighten($font,30);
      }
    }
  }


    th{
      text-align: start;

      .head-tab-wrapper{
        padding:.6rem .5rem;
        cursor: pointer;

        .icon{
          svg{
            transform:scale(.9);
          }
        }
      }

      //active/sorting tab
      .sorting{
        height: 100%;
        background-color:$bg-one;

        .icon{
          svg{
            transform:rotate(180deg);
          }
        }
      }
    }

    td{
      padding:.6rem .5rem;
      box-sizing:border-box;
      min-width: fit-content;

      &.row--image{
        width:3rem;
        img{
          width:2rem;
          height:2rem;
          border-radius:50%;
        }
      }

    }


}