.set-quiz-page {
    padding: 30px;

    .mdi-plus::before {
        font-size: 28px;
        color: #fff;
        background-color: #707070;
        border-radius: 15px;
    }

    a.add-option.router-link-exact-active.router-link-active {
        text-decoration: none;
        color: #717171;
        margin-left: 5px;
        font-weight: bold;
    }

    .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)>.v-input__control>.v-input__slot {
        box-shadow: 0px 10px 20px rgb(183, 183, 183, 0.30);
    }

    button.theme--light.v-btn.v-btn--contained.v-btn--rounded.v-size--default.white--text {
        width: 160px;
        margin-left: 0;
    }

    button.white--text.save-quiz.v-btn.v-btn--contained.v-btn--rounded.theme--light.v-size--default {
        width: 120px;
        margin: 20px 30px;
    }

    button.cancel-quiz.v-btn.v-btn--flat.v-btn--text.theme--light.v-size--default {
        font-size: 18px;
        margin: 20px -10px;
    }
}

