aside.v-navigation-drawer.v-navigation-drawer--open {
    background-color: #fff;
}

#sidebar-container {
    padding: 0;
}

aside.v-navigation-drawer.v-navigation-drawer--fixed.v-navigation-drawer--open.theme--dark {
    width: 220px !important;
}

.v-list-item--link:before {
    background-color: inherit !important;
}

.v-list .v-list-item--active,
.v-list .v-list-item--active .v-icon {
    color: #fec239 !important;
}

.v-list--dense .v-list-item .v-list-item__subtitle,
.v-list--dense .v-list-item .v-list-item__title,
.v-list-item--dense .v-list-item__subtitle,
.v-list-item--dense .v-list-item__title {
    margin-left: 1rem !important;
}

.v-list--dense .v-list-item .v-list-item__icon,
.v-list-item--dense .v-list-item__icon {
    margin: 8px !important;
}

.theme--light.v-icon {
    color: #828282;
}

.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
    color: #828282;
}

#sidebar {
    height: 100%;
    top: 64px !important;
    box-shadow: 6px 0px 12px rgb(143, 140, 140, .16);
    background-color: #fff;
}

.v-list--nav.v-list--dense .v-list-item:not(:last-child):not(:only-child),
.v-list--nav .v-list-item--dense:not(:last-child):not(:only-child),
.v-list--rounded.v-list--dense .v-list-item:not(:last-child):not(:only-child),
.v-list--rounded .v-list-item--dense:not(:last-child):not(:only-child) {
    margin-bottom: 21px !important;
}

.v-list.v-sheet.theme--light.v-list--dense.v-list--nav {
    margin-top: 6rem;
}

a.v-list-item--active.v-list-item.v-list-item--link.theme--light {
    border-left: 7px solid;
}

@media (max-width: 1200px) {
    #sidebar {
        .v-image__image--cover {
            margin-top: -2em !important;
        }
    }
}