* {
    margin: 0;
}

.quiz-page {
    padding: 40px;
    background-color: #FFFFFF;

    .answer-field {
        border: 1px solid #707070;
        border-radius: 5px;
        resize: none;
        padding: 10px;
        width: 92%;
    }

    .questions-side {
        .question-details {
            width: 315px
        }

        .radio-btn1 {
            margin-right: 311px;
        }

        .theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
            margin-left: 0;
        }

        button.radio-btn.v-btn.v-btn--contained.theme--light.v-size--default.transparent {
            border: 2px solid #707070 !important;
            border-radius: 22px;
            width: 190px;
            height: 45px;
        }
    }
    .question-details{
        font-weight: 600
    }
}

/* Portrait phones and smaller */
@media (max-width: 700px) {
    .quiz-page {
        padding: 10px;
    }
}