@import './imports/colors';
@import './variables';
@import './imports/home';
@import './imports/courses';
@import './imports/sidebar';
@import './imports/navbar';
@import './imports/newCourse';
@import './imports/takeQuiz';
@import './imports/course-details';
@import './imports/profile';
@import 'imports/grades';
@import './imports/users';
@import './imports/colors';
@import './imports/player';
@import './imports/mixins';
 @import './imports/fonts';
@import './imports/globalClasses';

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button:focus {
  outline: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 0px;
}

.customScroll {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    // background-color: #f8f8ff;
  }

  &::-webkit-scrollbar-track:hover {
    background-color: lighten($secondary, 4);
  }

  &::-webkit-scrollbar-thumb {
    background-color: lighten($font, 40);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: lighten($font, 30);
  }
}

a{
  text-decoration:none;
  color:inherit;

  *{
      text-decoration:none;
      color:inherit;
  }
}

div#app{
  overflow-y: hidden;
}

.v-dialog {
  box-shadow: none;

}

.profile-avatar{
  background-color: $primary;
  color: $main;
}

.v-dialog:not(.v-dialog--fullscreen) {
  border-radius: 0 !important;
}

.cursor-pointer{
  cursor: pointer;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}

#user-profile-card {
  position: absolute;
  display: none;
  z-index: 1;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  width: 120px;
  background: #193074;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 10.0903px;
  line-height: 15px;
  /* identical to box height */


  color: #FFFFFF;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: #193074 transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.payment-status{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 74px;
  height: 51.28px;
  &.free {
    background: #193074;
    color: #FFFFFF;
  }
  &.paid{
    background: #3CE970;
  }
  &.pending{
    background: #FF7700;
  }
  border-radius: 10px;
}