@import './imports/colors';
@import './variables';
@import './imports/home';
@import './imports/dashboard';
@import './imports/courses';
@import './imports/sidebar';
@import './imports/navbar';
@import './imports/newCourse';
// @import './imports/setQuiz';
@import './imports/takeQuiz';
@import './imports/course-details';
@import './imports/live-class';
@import './imports/profile';
@import './imports/reports';
@import './imports/users';
@import './imports/colors';
@import './imports/player';
@import './imports/mixins';
// @import './imports/fonts';
//@import "skeleton-screen-css";
// @import './variables';
// @import './imports/editor';
@import './imports/globalClasses';

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button:focus {
  outline: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 0px;
}

.customScroll {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    // background-color: #f8f8ff;
  }

  &::-webkit-scrollbar-track:hover {
    background-color: lighten($secondary, 4);
  }

  &::-webkit-scrollbar-thumb {
    background-color: lighten($font, 40);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: lighten($font, 30);
  }
}

div#app {
  overflow-y: hidden;
}

.v-dialog {
  box-shadow: none;

}

.v-dialog:not(.v-dialog--fullscreen) {
  border-radius: 0 !important;
}