@import './variables';
@import './imports/home';
@import './imports/login';
@import './imports/dashboard';
@import './imports/courses';
@import './imports/sidebar';
@import './imports/navbar';
@import './imports/newCourse';
@import './imports/setQuiz';
@import './imports/takeQuiz';
@import './imports/course-details';
@import './imports/live-class';
@import './imports/profile';
@import './imports/reports';
@import './imports/users';
@import './imports/chat';
// @import './imports/editor';
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}