$color-black: #000000;
$color-white: #ffffff;
$color-grey: #dddddd;

$color-one: #ffd248;
$bg-one: #f9faff;

.bg-one{
    background-color: $bg-one;
}
.bg-color-one{
    background-color: $primary !important   ;
}

.smooth--background{
    background-color: #F9FAFF !important;
}
.smooth--card{
    border-radius: 8px;
}